<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
 "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleIdentifier</key>
  <string>com.perch.perch</string>
  <key>CFBundleName</key>
  <string>perch</string>
  <key>CFBundleExecutable</key>
  <string>perch</string>
  <key>CFBundleIconFile</key>
  <string>Perch</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleShortVersionString</key>
  <string>1.0.0</string>
  <key>CFBundleVersion</key>
  <string>1</string>
  <key>LSMinimumSystemVersion</key>
  <string>26.0</string>
  <key>LSUIElement</key>
  <true/>
  <key>NSPrincipalClass</key>
  <string>NSApplication</string>
  <key>NSAccessibilityUsageDescription</key>
  <string>perch needs Accessibility access to read clickable elements in the frontmost app (to label them with hint keys) and to perform the click action when you press a hint.</string>
</dict>
</plist>
